<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'dist/semantic.css' %}"/>
	<!--   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script> -->
	<script src="{% static 'jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'dist/semantic.js' %}"></script>
	<script type="text/javascript">
		var sem  = $.noConflict(true);
	</script>
	<title>Detail</title>
	
</head>
<body>

	<script type="text/javascript">
	sem(document).ready(function(){
		sem("#logout_signal").click(function(){
			sem.ajax({
				type: "POST",
				url: "{% url 'user_logout' %}",
			}).done(function(data){
				alert("登出成功");
				location.reload();
			}).fail(function(data){
    			alert("登出失敗");
			});
		});
		
		sem("#add_favorite").click(function(){
			sem.ajax({
				type: "POST",
				url: "{% url 'add_favorite' id=gfood.key %}",
			}).done(function(data){
				alert(data["result_message"]);
				location.reload();
			}).fail(function(data){
    			alert("加入追蹤失敗");
			});
		});		
		
	});
	</script>

	{% if user.is_authenticated %}
		<h1 id="welcome_login">歡迎您， {{ user.username }}  !</h1>
		<br>
		<button id="logout_signal">登出</button>
		<br>
		<button id="add_favorite">加入追蹤</button>
		<br>
		<a href= "/welcome" >回首頁</a>
	{% else %}
		<h1>歡迎您，訪客! </h1>
		<br>
		{% include "register.html" %}
		<br>
		{% include "login.html" %}
	{% endif %}
	
	<table class="ui striped table">
		<thead>
		  <tr><th colspan="2">產品資料</th></tr>
		  <tr>
		  	<th>欄位</th>
		  	<th>內容</th>
		  </tr>
		</thead>
		<tbody>
			<tr class="center aligned">
				<td>名稱</td>
				<td class="right aligned">{{gfood.title}}</td>
			</tr>
			<tr>
				<td>位置</td>
				<td class="right aligned">{{gfood.producer.address}}</td>
			</tr>
			<tr>
				<td>聯絡電話</td>
				<td class="right aligned">{{gfood.producer.phone}}</td>
			</tr>			
			<tr>
				<td>價格說明</td>
				<td class="right aligned">{{gfood.unit_price}}</td>
			</tr>			
			<tr>
				<td>產品說明</td>
				<td class="right aligned">{{gfood.description}}</td>
			</tr>
			<tr>
				<td>相關網站</td>
				<td class="right aligned"><a href="{{gfood.link}}"><i class="info circle icon"></i></a></td>
			</tr>
			<tr>
				<td>資料更新時間</td>
				<td class="right aligned">{{gfood.modify_date}}</td>
			</tr>	
		</tbody>
	</table>
	
</body>
</html>