<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
<title>Favorite - NTU Beggars Banquet</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
<link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1234" type="text/css" /><link rel='stylesheet' type='text/css' href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1234' />
<link rel='stylesheet' type='text/css' href="{% static 'files/main_style.css' %}?1419687703" title='wsite-theme-css' />
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,200,200italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='http://cdn1.editmysite.com/editor/fonts/CAC_Champagne/font.css?2' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Glegoo:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Coustard&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style type='text/css'>
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {font-family:"CAC Champagne" !important;font-size:50px !important;color:#d5d5d5 !important;}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {font-family:"Glegoo" !important;font-size:33px !important;}
.wsite-headline-paragraph {}
.wsite-button-inner {font-family:"Coustard" !important;}
.wsite-not-footer blockquote, #wsite-com-product-tab blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
</style>
<style>
.wsite-background {background-image: url('//cdn1.editmysite.com/uploads/2/5/4/9/25499556/background-images/1509227806.jpg') !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: cover !important;background-color: transparent !important;background: inherit;}
body.wsite-background {background-attachment: fixed !important;}
</style>
<script><!--
var STATIC_BASE = '//cdn1.editmysite.com/';
var STYLE_PREFIX = 'wsite';
//-->
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1234'></script>
<script>_W.relinquish && _W.relinquish()</script>
<script type='text/javascript'><!--
var IS_ARCHIVE=1;
(function(jQuery){
function initFlyouts(){initPublishedFlyoutMenus([{"id":"375348897678769202","title":"Home","url":"home.html","target":""},{"id":"551697288656414631","title":"Result","url":"result.html","target":""},{"id":"857551555500637801","title":"Detail","url":"detail.html","target":""},{"id":"574917837232990038","title":"Favorite","url":"favorite.html","target":""}],"551697288656414631","<li><a href=\"#\" data-membership-required=\"\" >{{title}}<\/a><\/li>",'active',false)}
if (jQuery) {
jQuery(document).ready(function() { jQuery(initFlyouts); });
}else{
if (Prototype.Browser.IE) window.onload = initFlyouts;
else document.observe('dom:loaded', initFlyouts);
}
})(window._W && _W.jQuery)
//-->
</script>

<!-- Django -->

	<link rel="stylesheet" type="text/css" href="{% static 'dist/semantic.css' %}"/>
	<!--   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script> -->
	<script src="{% static 'jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'dist/semantic.js' %}"></script>
	<script type="text/javascript">
		var sem  = $.noConflict(true);
	</script>

<!-- Django -->

</head>
<body class='splash-page wsite-background  wsite-theme-dark wsite-page-result wsite-custom-background'>

	<script type="text/javascript">
		sem(document).ready(function(){
			sem("#logout_signal").click(function(){
				sem.ajax({
					type: "POST",
					url: "{% url 'user_logout' %}",
				}).done(function(data){
					alert("登出成功");
					window.location.replace("{% url 'welcome' %}");
				}).fail(function(data){
	    			alert("登出失敗");
				});
			});
			
		});	
	</script>


	<div id="nav-wrap">
        <div class="container">
            <table id="header">
                <tr>
                    <td id="logo"><span class='wsite-logo'><a href='/welcome'><span id="wsite-title">NTU Beggars Banquet</span></a></span></td>
					<td>
						<ul class='wsite-menu-default'>
							<li id="pg375348897678769202"><a href="/welcome">Home</a></li>
							{% if user.is_authenticated %}
							<li id='pg551697288656414631'><a href="/display_favorite" data-membership-required="0" >My Favorite List</a></li>
							<li id='pg857551555500637801'><a id="logout_signal" href="#" data-membership-required="0" >Logout</a></li>
							{% else %}
							<li id='pg551697288656414631'>{% include "register.html" %}</li>
							<li id='pg857551555500637801'>{% include "login.html" %}</li>
							{% endif %}
						</ul>
					</td>
                </tr>
            </table>
        </div><!-- end container -->
    </div><!-- end nav-wrap --> 

	<div id="splash-wrap">
		<div class="main-wrap">
				<div id="content-section">
				
					{% if user.is_authenticated %}
						<table class="ui striped table">
							<thead>
							  <tr><th colspan="3">我的追蹤清單</th></tr>
							</thead>
							<tbody>
								{% for f in favorite_list %}
								<tr class="center aligned">
									<td><i class="gift icon"></i><a href="{% url 'detail' id=f.gfood.key %}">{{ f.gfood.title}}</a></td>
									<td>{{f.gfood.producer.address}}</td>
									<td class="right aligned">{{f.gfood.producer.phone}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<h2><span class='wsite-text wsite-headline'>Please login to use this service</span></h2>
					{% endif %}			
				
				
					<div id='wsite-content' class='wsite-elements wsite-not-footer'></div>

				</div>
			</div>
	</div><!-- end splash-wrap --> 

<div style='padding: 20px; width:100%; text-align:center;display:none'>
	Welcome join in <a target="_top" href="http://www.ntu.edu.tw/" title="NTU">National Taiwan University</a>
</div>

</body>
</html>