<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	
	<!--  JQuery UI -->
	<link rel="stylesheet" href="{% static 'jquery_ui_1.10.4/development-bundle/themes/base/jquery.ui.all.css' %}">
	<link rel="stylesheet" href="{% static 'jquery_ui_1.10.4/development-bundle/demos/demos.css' %}">
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/jquery-1.10.2.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.core.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.mouse.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.button.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.draggable.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.position.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.resizable.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.button.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.dialog.js' %}"></script>
	<script src="{% static 'jquery_ui_1.10.4/development-bundle/ui/jquery.ui.effect.js' %}"></script>

	<script>
	$(function() {
		var name = $( "#name" ),
			email = $( "#email" ),
			password = $( "#password" ),
			allFields = $( [] ).add( name ).add( email ).add( password ),
			tips = $( ".validateTips" );

		function updateTips( t ) {
			tips
				.text( t )
				.addClass( "ui-state-highlight" );
			setTimeout(function() {
				tips.removeClass( "ui-state-highlight", 1500 );
			}, 500 );
		}

		function checkLength( o, n, min, max ) {
			if ( o.val().length > max || o.val().length < min ) {
				o.addClass( "ui-state-error" );
				updateTips( n + "長度必須介於" +
					min + "和" + max + "." );
				return false;
			} else {
				return true;
			}
		}

		function checkRegexp( o, regexp, n ) {
			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass( "ui-state-error" );
				updateTips( n );
				return false;
			} else {
				return true;
			}
		}

		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 400,
			modal: true,
			buttons: {
				"Submit": function() {
					var bValid = true;
					allFields.removeClass( "ui-state-error" );

					bValid = bValid && checkLength( name, "Account", 3, 16 );
					bValid = bValid && checkLength( email, "Email", 6, 80 );
					bValid = bValid && checkLength( password, "Password", 5, 16 );

					// From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
					bValid = bValid && checkRegexp( name, /^[a-z]([0-9a-z_])+$/i, " 帳號應為英文字母和數字混合" );
					bValid = bValid && checkRegexp( email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "eg. ui@jquery.com" );
					bValid = bValid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "密碼僅允許: a-z 0-9" );
					
					if ( bValid ) {
						$.ajax({
							type: "POST",
							url: "{% url 'register' %}",
							data:{name:name.val(), email:email.val(), password:password.val()},
						}).done(function(data){
							if (data["status"] == "0"){
				    	     	$("#result_message").text(data["result_message"]);
				    	     	alert(data["result_message"]);
							}else if(data["status"] == "1"){
				    	     	$("#result_message").text(data["result_message"]);
				    	     	alert(data["result_message"]);
								$( this ).dialog( "close" );
								}					
						}).fail(function(data){
			    			$("#result_message").text(data["result_message"]);
			    			alert("註冊失敗");							
						});				
					}
				},
				"Cancel": function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		$( "#reg-user" )
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
	});
	</script>

	<title>Register</title>
</head>
<body>

	<div id="dialog-form" title="Register Form">
		<p class="validateTips">All the fields are required.</p>
	
		<form id="reg_form" method="post">
		<fieldset>
			<label for="name">Account</label>
			<div class="ui input focus">
				<input type="text" name="name" id="name" value="" placeholder="your account..." class="text ui-widget-content ui-corner-all" />
			</div>
			<div class="ui horizontal divider">
			And
			</div>
			<label for="email">Email</label>
			<div class="ui input focus">
				<input type="text" name="email" id="email" value="" placeholder="your email..." class="text ui-widget-content ui-corner-all" />
			</div>			
			<div class="ui horizontal divider">
			And
			</div>			
			<label for="password">Password</label>
			<div class="ui input focus">
				<input type="password" name="password" id="password" value="" placeholder="your password..." class="text ui-widget-content ui-corner-all" />
			</div>
		</fieldset>
		</form>
	</div>
	
	<a id="reg-user">Register</a>
	
</body>
</html>